name: FastForest CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  ci:
    name: Run CI (xgboost ${{ matrix.deps.xgboost }})
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        deps:
          - { xgboost: "1.5.2", numpy: "<2.0", cxx: 98 }
          - { xgboost: "1.6.2", numpy: "<3.0", cxx: 98 }
          - { xgboost: "1.7.6", numpy: "<3.0", cxx: 98 }
          - { xgboost: "2.0.0", numpy: "<3.0", cxx: 98 }
          - { xgboost: "2.0.3", numpy: "<3.0", cxx: 98 }
          - { xgboost: "2.1.4", numpy: "<3.0", cxx: 98 }
          - { xgboost: "3.0.0", numpy: "<3.0", cxx: 17 }
          - { xgboost: "3.0.4", numpy: "<3.0", cxx: 98 }
          - { xgboost: "3.1.1", numpy: "<3.0", cxx: 98 }

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install scikit-learn "xgboost==${{ matrix.deps.xgboost }}" pandas "numpy${{ matrix.deps.numpy }}"

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX=../install -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_STANDARD=${{ matrix.deps.cxx }} ..
          cmake --build . --target install -j2

      - name: Prepare test data
        run: |
          cd test
          python create_test_data.py

      - name: Run tests
        run: |
          cd test
          ../build/test/fastforest-tests
